.block_ {
  display: block;
  line-height: 1.2;
  text-indent: 0;
  margin: 0;
  padding: 0;
}
.block_1 {
  display: block;
  line-height: 1.5;
  text-indent: 18pt;
  margin: 0;
  padding: 0;
}
.block_2 {
  color: #000;
  display: block;
  font-size: 2em;
  line-height: 1.2;
  text-align: center;
  text-indent: 0;
  margin: 48pt 0;
  padding: 0;
}
.block_3 {
  display: block;
  font-family: serif;
  font-size: 0.75em;
  line-height: 1.5;
  text-indent: 0;
  margin: 0;
  padding: 0;
}
.block_4 {
  display: block;
  line-height: 1.5;
  text-indent: 0;
  margin: 0;
  padding: 0;
}
.block_5 {
  display: block;
  font-style: italic;
  line-height: 1.5;
  text-indent: 18pt;
  margin: 0;
  padding: 0;
}
.block_6 {
  display: block;
  font-family: serif;
  font-size: 0.75em;
  line-height: 1.5;
  text-align: center;
  text-indent: 0;
  margin: 0;
  padding: 0;
}
.block_7 {
  display: block;
  line-height: 1.5;
  text-indent: 18pt;
  margin: 0;
  padding: 0;
}
.block_8 {
  color: #000;
  display: block;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  text-indent: 0;
  margin: 48pt 0;
  padding: 0;
}
.block_9 {
  display: block;
  font-family: serif;
  font-size: 0.75em;
  line-height: 1.5;
  text-indent: 18pt;
  margin: 0;
  padding: 0;
}
.block_10 {
  display: block;
  font-style: italic;
  line-height: 1.5;
  text-indent: 0;
  margin: 0 0 0 25.2pt;
  padding: 0;
}
.block_11 {
  display: block;
  font-style: italic;
  line-height: 1.5;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-indent: 0;
  margin: 0 0 0 25.2pt;
  padding: 0;
}
.block_12 {
  display: block;
  line-height: 1.5;
  text-indent: 0;
  margin: 0 0 0 25.2pt;
  padding: 0;
}
.block_13 {
  display: block;
  font-family: serif;
  font-size: 0.75em;
  line-height: 1.5;
  text-indent: 0;
  margin: 0 0 0 25.2pt;
  padding: 0;
}
.block_14 {
  display: block;
  font-family: serif;
  font-size: 0.75em;
  line-height: 1.5;
  text-align: center;
  text-indent: 0;
  margin: 12pt 0 0;
  padding: 0;
}
.block_15 {
  display: block;
  font-style: italic;
  line-height: 1.5;
  text-align: center;
  text-indent: 0;
  margin: 12pt 0 0;
  padding: 0;
}
.block_16 {
  display: block;
  line-height: 1.2;
  text-indent: 0;
  margin: 0;
  padding: 0;
}
.block_17 {
  display: block;
  line-height: 1.5;
  text-align: center;
  text-indent: 0;
  margin: 0;
  padding: 0;
}
.block_18 {
  display: block;
  font-style: italic;
  line-height: 1.5;
  text-align: center;
  text-indent: 0;
  margin: 0;
  padding: 0;
}
.block_19 {
  display: block;
  line-height: 1.5;
  text-indent: 0;
  margin: 0;
  padding: 0;
}
.calibre {
  display: block;
  font-family: "Helvetica Neue Medium", sans-serif;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre1 {
  line-height: 1.2;
}
.calibre2 {
  line-height: 1.2;
  text-decoration: none;
}
.calibre3 {
  font-weight: bold;
}
.calibre4 {
  display: block;
}
.calibre5 {
  font-weight: bold;
  line-height: 1.2;
}
.calibre6 {
  font-style: italic;
}
.text_ {
  color: #0563C1;
  line-height: 1.2;
  text-decoration: underline solid;
}
.text_1 {
  color: #222;
}
.text_2 {
  color: #0563C1;
  text-decoration: underline solid;
}
